.page {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url('../svgs/layered-waves-haikei.svg');
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 55%;
}

.textWrapper {
  z-index: 1;
  color: #ffe5dd;
  // transform: rotateY(60deg);
  // perspective: 600px;
}

.headerText {
  font-size: 96px;
}

.bodyText,
.aboutMeLink {
  font-size: 64px;
}

.aboutMeLink {
  margin-top: 32px;
  font-size: 48px;
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: inline-block;
  transition: color 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  color: #ffe5dd;
  font-family: 'Quicksand', sans-serif;
}

.aboutMeLink:hover {
  color: #ff0000;
}
